<app-dialog [fullscreenOnMobile]="false">
  <div class="flex justify-center bg-slate-100 rounded-lg mb-1 p-2">
    <div class="p-2  flex flex-row gap-x-2">

      <div class="size-12 bg-white rounded-full flex justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
      </div>

      <div class="flex-1 flex flex-col">

       @if(this.usuario()){
        <span class="font-semibold">{{this.usuario()?.straff_name?? 'Anonimo'}}</span>
        <span class="text-gray-600 text-xs">Unido desde {{this.usuario()?.registrado_en | date:'dd/MM/yyyy'}}</span>
       } @else {
        <span class="text-skeleton w-28 h-4 mb-2"></span>
        <span class="text-skeleton w-[200px] h-4"></span>

       }

      </div>

    </div>
  </div>

  <button class="primary-button rounded-md bg-red-500" (click)="this.showBanearUsuarioDialog()">Banear usuario</button>

  <div class="bg-gray-100 flex flex-row rounded-lg p-2 mt-1">

    <button class="flex-1 text-sm rounded-md font-semibold flex flex-row justify-center gap-x-2 items-center" (click)="this.seleccionarRegistro('hilos')" [class]="{'bg-white' : this.registroSeleccionado() === 'hilos'}">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-notebook-text"><path d="M2 6h4"/><path d="M2 10h4"/><path d="M2 14h4"/><path d="M2 18h4"/><rect width="16" height="20" x="4" y="2" rx="2"/><path d="M9.5 8h5"/><path d="M9.5 12H16"/><path d="M9.5 16H14"/></svg>

      <span>Hilos</span>
    </button>

    <button class="flex-1 text-sm rounded-md font-semibold flex flex-row justify-center gap-x-2 items-center" (click)="this.seleccionarRegistro('comentarios')"  [class]="{'bg-white' : this.registroSeleccionado() === 'comentarios'}">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-square-more"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/><path d="M8 10h.01"/><path d="M12 10h.01"/><path d="M16 10h.01"/></svg>

      <span>Comentarios</span>
    </button>

  </div>

  @for (registro of this.registroSeleccionado() === 'hilos'? this.hilosPosteados() : hilosComentados(); track $index) {
    <app-registro [registro]="registro"  [tipo]="this.registroSeleccionado()"/>
  }

</app-dialog>
