@if (this.isDimensionable) {

   <div class="w-full h-full">
    @switch (this.media.provider) {
      @case ('youtube') {
        <app-youtube-player [url]="this.media.url"></app-youtube-player>
      }
      @case ('video') {
        <video [src]="this.media.url" class="h-full w-full object-contain"  [poster]="this.media.previsualizacion" controls="controls"></video>
      }
      @case ('image') {
        <img [src]="this.media.url" class="h-full w-full object-contain" alt="imagen no visible">
      }

      @case ('gif') {
        <img [src]="this.media.url" class="h-full w-full object-contain" alt="imagen no visible">
      }
    }
   </div>
}
