<app-dialog title="Iniciar sesión">
  <form action="" (submit)="$event.preventDefault()">

    <shared-input-labeled label="Usuario">
      <input type="text" placeholder="Usuario">
    </shared-input-labeled>

    <shared-input-labeled label="Contraseña">
      <input type="text" placeholder="Contraseña">
    </shared-input-labeled>

    <div class="px-3 mt-2">
      <button class="primary-button">
        <span class="">Iniciar sesión</span>
      </button>
    </div>

  </form>
</app-dialog>
