<app-dialog [fullscreenOnMobile]="false">

  <div class="overflow-y-auto">
    @for (categoria of this.categorias(); track $index) {
    <div class="mb-1">
      <span class="font-semibold text-lg"> {{categoria.nombre}} </span>

      @for (subcategoria of categoria.subcategorias; track $index) {
      <button class="flex flex-row items-center gap-x-1 px-2 py-1 w-full my-1"
        (click)="this.data.onSubcategoriaSeleccionada(subcategoria)">
        <div class="size-9 rounded-md overflow-hidden"><img class="w-full h-full  object-cover"
            [src]="subcategoria.imagen" alt=""></div>

        <span class="ml-1"> {{subcategoria.nombre}} </span>
      </button>
      }

    </div>
    }

  </div>
</app-dialog>