@let hilo = service.hilo();

  <div class=" flex flex-col md:overflow-y-auto md:w-full md:h-full px-2 py-3 rounded-lg md:rounded-none bg-gray-100">

    @if (hilo != null) {

      <div class="hilo-section flex items-center gap-x-2  ">
        <img class="size-[30px] rounded"  src="https://pbs.twimg.com/profile_images/1366466342354751491/JyhZpbtu_400x400.jpg"alt="">
        <a routerLink="/"  class="font-semibold text-blue-700" href=""><span>General</span></a>
      </div>

      <div class="hilo-section flex flex-row justify-between">

        <div class="flex flex-row gap-x-1">

          <button id="denunciar-button" class="hilo-button-action ">
            <i class="fa-regular fa-flag"></i>
          </button>

          <button id="favorito-button" class="hilo-button-action ">
            <i class="fa-regular fa-star"></i>
          </button>

          <button id="ocultar-button" class="hilo-button-action ">
            <i class="fa-regular fa-eye"></i>
          </button>

          <button id="seguir-button" class="hilo-button-action ">
            <i class="fa-solid fa-user-plus"></i>
          </button>

        </div>

        <div class="flex flex-row gap-x-1 items-center">
          <span class="font-bold text-sm">Anonimo</span>

          <div class="px-1 py-[0.125rem] bg-gray-400 flex items-center justify-center rounded-md  ">
            <span class="text-xs font-semibold text-white">anon</span>
          </div>

          <span class="text-xs font-semibold text-gray-400">2m</span>
        </div>

      </div>


      <div class="flex justify-center mb-1">

          <app-media-box class="max-h-[400px] overflow-hidden" [media]="hilo.media"></app-media-box>


      </div>

      <span class="titulo-hilo text-2xl font-bold break-words "> {{hilo.titulo}} </span>

      <span class="break-words"> {{hilo.descripcion}} </span>
    }
    @else {
      <div class="hilo-section flex items-center gap-x-2  ">
        <div class="size-[30px] skeleton" ></div>
        <div class="h-4 text-skeleton w-[160px] " href=""> </div>
      </div>

      <div class="hilo-section flex flex-row justify-between">

        <div class="flex flex-row gap-x-1">

          <div id="denunciar-button" class="hilo-button-action skeleton"></div>

          <div id="favorito-button" class="hilo-button-action skeleton"></div>

          <div id="ocultar-button" class="hilo-button-action  skeleton "></div>

          <div id="seguir-button" class="hilo-button-action skeleton"></div>

        </div>

        <div class="flex flex-row gap-x-1 items-center">
          <span class="w-24 h-3 text-skeleton"></span>

          <span class="w-5 h-3 text-skeleton"></span>
        </div>

      </div>

      <div class="flex justify-center mb-1">
        <div class="w-[60%] h-[200px] skeleton"></div>
      </div>


      <div class="flex flex-wrap gap-1 mb-3">
        <span class="w-[300px] h-7 text-skeleton"></span>
        <span class="w-[150px] h-7 text-skeleton"></span>
        <span class="w-[20px]  h-7 text-skeleton"></span>
        <span class="w-[80px]  h-7 text-skeleton"></span>
      </div>


      <div class="flex flex-wrap gap-1">
        <span class= "w-[300px] h-4 text-skeleton"></span>
        <span class= "w-[250px] h-4 text-skeleton"></span>
        <span class= "w-[80px] h-4 text-skeleton"></span>
        <span class= "w-[10000px] h-4 text-skeleton"></span>
        <span class= "w-[300px] h-4 text-skeleton"></span>
        <span class= "w-[150px] h-4 text-skeleton"></span>
        <span class= "w-[20px] h-4 text-skeleton"></span>
        <span class= "w-[80px] h-4 text-skeleton"></span>
        <span class= "w-[300px] h-4 text-skeleton"></span>
        <span class= "w-[80px] h-4 text-skeleton"></span>
        <span class= "w-[20px] h-4 text-skeleton"></span>

      </div>
    }

  </div>

