@let hilo = this.hilo;
<app-header class="sticky z-10 top-0"></app-header>

<div
  class="md:h-[calc(100vh-56px)] w-full flex flex-col md:flex-row md:overflow-hidden"
>
  <div class="md:w-[55%] md:h-full">
    <div
      class="flex flex-col md:overflow-y-auto md:w-full md:h-full px-2 py-3 rounded-lg md:rounded-none bg-gray-100"
    >
      @if (hilo) {

      <div class="hilo-section flex items-center gap-x-2">
        <img
          class="size-[30px] object-cover rounded"
          [src]="hilo.subcategoria.imagen"
          alt=""
        />
        <a routerLink="/" class="font-semibold text-blue-700" href=""
          ><span>{{hilo.subcategoria.nombre}}</span></a
        >
      </div>

      <div class="hilo-section flex flex-row justify-between">
        <div class="flex flex-row gap-x-1">
          <button id="denunciar-button" class="hilo-button-action">
            <i class="fa-regular fa-flag"></i>
          </button>

          <button id="favorito-button" class="hilo-button-action">
            <i class="fa-regular fa-star"></i>
          </button>

          <button id="ocultar-button" class="hilo-button-action">
            <i class="fa-regular fa-eye"></i>
          </button>

          <button id="seguir-button" class="hilo-button-action">
            <i class="fa-solid fa-user-plus"></i>
          </button>
        </div>

        <div class="flex flex-row gap-x-1 items-center">
          <span class="font-bold text-sm">{{hilo.autor}}</span>

          <div
            class="px-1 py-[0.125rem] bg-gray-400 flex items-center justify-center rounded-md"
          >
            <span class="text-xs font-semibold text-white">{{hilo.autor_role | autorRole}}</span>
          </div>

          <span class="text-xs font-semibold text-gray-400">{{hilo.created_at | tiempoTranscurrido}}</span>
        </div>
      </div>

      <div class="flex justify-center mb-1">
        <app-media-box
          class="max-h-[400px] overflow-hidden"
          [media]="hilo.media"
        ></app-media-box>
      </div>

      <span class="titulo-hilo text-2xl font-bold break-words">
        {{ hilo.titulo }}
      </span>

      <span class="break-words"> {{ hilo.descripcion }} </span>
      } @else {
        <app-hilo-body-skeleton></app-hilo-body-skeleton>
      }
    </div>
  </div>

  <div class="md:flex-1">
    <div class="w-full h-full flex flex-col justify-between">
      <div class="overflow-y-auto h-full pb-2">
        <div class="my-2 px-2">
          @if(hilo != null){
            <span class="text-2xl font-bold">Comentarios ({{ hilo.cantidad_comentarios }})</span>
          } @else {
           <div class="h-8 w-[250px] text-skeleton rounded-xl"></div>
          }
        </div>

        <div class="px-2 flex flex-col gap-y-1">
          
          @for (comentario of this.destacados; track comentario.id) {
            <app-comentario [comentario]="comentario" (onTagguear)="this.tagguear($event)" [hilo]="hilo!.id" />
          } 

          @for (comentario of this.comentarios; track comentario.id) {
            <app-comentario [comentario]="comentario" (onTagguear)="this.tagguear($event)" [hilo]="hilo!.id" />
          } 
          
          @if(!hilo || this.cargandoComentarios){ 
            @for (_ of [].constructor(5);track $index) {
              <app-comentario-skeleton /> 
            } 
          }
        </div>
      </div>

      <div class="flex-shrink-0 w-full sticky bottom-0">
        <div class="w-full px-2 py-2 bg-white border-solid border-t-2 border-gray-300 relative pt-4">
          <form action="" [formGroup]="this.comentarHiloForm" (submit)="$event.preventDefault()">
            
            <app-pick-file-input #fileRef hidden  (onPickedFile)="this.agregarMedia($event)"/>
        
            <input formControlName="spoiler" type="checkbox" #spoilerRef hidden>
        
            @if (this.media) {
              @if (this.media!.type === 'video' || this.media!.type === 'image' || this.media!.type === 'youtube') {
                <app-spoileable-picked-media [spoiler]="spoiler" [media]="this.media" (onDelete)="this.eliminarMedia()" (onSpoiler)="spoilerRef.click()"></app-spoileable-picked-media>
              } 
            }
        
            <div class="flex flex-row gap-x-2 items-center ">
        
              <div class="relative flex-1">
                  <textarea formControlName="texto"  #myTextareaRef rows="3" name="" id="" placeholder="Escribe tu comentario" class="pl-10 pr-1 w-full"></textarea>
        
                  <button class="icon-button absolute top-1 size-10"  (click)="fileRef.pick()" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bolt"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"/><circle cx="12" cy="12" r="4"/></svg>
                  </button>
                </div>
        
              <button class=  "icon-button colored-icon-button p-2" (click)="this.comentar()" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-7">
                  <path d="M3.105 2.288a.75.75 0 0 0-.826.95l1.414 4.926A1.5 1.5 0 0 0 5.135 9.25h6.115a.75.75 0 0 1 0 1.5H5.135a1.5 1.5 0 0 0-1.442 1.086l-1.414 4.926a.75.75 0 0 0 .826.95 28.897 28.897 0 0 0 15.293-7.155.75.75 0 0 0 0-1.114A28.897 28.897 0 0 0 3.105 2.288Z" />
                </svg>
              </button>
        
            </div>
        
          </form>
        
        </div>
        

      </div>

    </div>
  </div>
</div>