<div role="button" class="portada-container relative overflow-hidden " (click)="this.visitar()">

  <div [ngClass]="{ 'blur-md': this.portada.miniatura.es_spoiler}" class="w-full h-full" style="background-image: url('https://i1.sndcdn.com/artworks-000245638163-7dx5p1-t500x500.jpg');"></div>

  <div  class=" w-full h-full absolute top-0" >

    <div class="fade-gradient absolute w-full h-full flex flex-col p-1 justify-between">
      <div class="flex flex-row text-xs text-white">

        <div class=" flex flex-wrap flex-1 gap-[0.125rem] ">

          <span class="bg-green-500 px-1 font-semibold rounded-md leading-5">
            {{this.portada.subcategoria}}
          </span>

          <span class="bg-blue-500 px-1 font-semibold rounded-md leading-5">
            Nuevo
          </span>

          <span *ngFor="let icon of this.icons; " class="size-5 flex justify-center items-center rounded-md" [ngClass]="icon.color">
              <i class="{{icon.icon}}"></i>
          </span>

        </div>

        <button (click)="$event.stopPropagation();menu.toggle($event)" class="size-5 flex justify-center items-center">
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>

      </div>

      <span *ngIf="true" class="text-lg font-semibold line-clamp-2 text-white">
        {{this.portada.titulo}}
      </span>

    </div>

  </div>

</div>


<p-menu #menu [popup]="true" [model]="this.opciones">

</p-menu>
