<div class="flex-col p-2 rounded-xl bg-gray-100 shadow-sm">

  <div class="flex flex-row gap-x-2">
    <div class="size-10 rounded-md bg-slate-700 flex-shrink-0" >

    </div>
    <div class="flex-1 flex items-center">
      <span class="font-semibold line-clamp-2 text-sm">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi repellendus dolore facere distinctio quisquam quasi sapiente reiciendis deleniti id perspiciatis.
      </span>
    </div>
  </div>


  <span class="text-sm line-clamp-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nostrum iusto sapiente suscipit unde cum exercitationem, repellat assumenda voluptatem ducimus?
    </span>
  <div>
    <span class="text-xs text-slate-500">
      Hace 2ms
    </span>
  </div>
</div>
