<div class="flex flex-row items-center justify-between">
  <h1 class="font-semibold text-2xl text-gray-800"> {{this.title}} </h1>

  <button class="size-10 flex justify-center items-center text-gray-400" (click)="this.close()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
  </button>

</div>
