<div class="flex-col p-2 rounded-xl bg-gray-100 shadow-sm">
  <div class="flex flex-row">
    <div class="size-14 skeleton rounded-md flex-shrink-0 mr-1"></div>

    <div class="flex-1 flex items-center">
      <div class="flex flex-wrap gap-1">
        <div class="text-skeleton h-3 w-[175px]"></div>
        <div class="text-skeleton h-3 w-[50px]"></div>
        <div class="text-skeleton h-3 w-[200px]"></div>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap gap-1 mt-1">
    <div class="text-skeleton h-4 w-[100px]"></div>
    <div class="text-skeleton h-4 w-[75px]"></div>
    <div class="text-skeleton h-4 w-[200px]"></div>
    <div class="text-skeleton h-4 w-[50px]"></div>
    <div class="text-skeleton h-4 w-[125px]"></div>
    <div class="text-skeleton h-4 w-[80px]"></div>
    <div class="text-skeleton h-4 w-[20px]"></div>
    <div class="text-skeleton h-4 w-[100px]"></div>
  </div>
</div>
