<button class="icon-button size-10 text-xl " (click)="toggle()">
  <i class="fa-solid fa-bars"></i>
</button>

<p-drawer  #drawer [(visible)]="show" #headless position="right" (onHide)="toggle()" baseZIndex="25">
  <ng-template #headless>
    @if (this.currentUser) {

      @let user = this.currentUser!;

      <div class="flex flex-col p-2 text-gray-800">

        <div class="flex flex-row items-center gap-x-2 p-2">

          <div class="size-14 rounded-full flex justify-center items-center bg-gray-200">
            <i class="fa-regular fa-user"></i>
          </div>

          <span>
            Bienvenido <span class="font-semibold"> {{ user.username }} </span>
          </span>

        </div>

        <ul class="mt-2">
          <li>
            <a  class="flex flex-row gap-x-2 items-center p-4">
              <i class="fa-solid fa-star"></i>
                <span class="font-medium">Favoritos</span>
            </a>
          </li>
          <li>
            <a  class="flex flex-row gap-x-2 items-center p-4">
              <i class="fa-solid fa-eye"></i>
                <span class="font-medium">Ocultos</span>
            </a>
          </li>
          <li>
            <a  class="flex flex-row gap-x-2 items-center p-4">
              <i class="fa-solid fa-user"></i>
                <span class="font-medium">Seguidos</span>
            </a>
          </li>
          <li>
            <button  class="flex flex-row gap-x-2 items-center p-4" (click)="this.logout()">
              <i class="fa-solid fa-right-from-bracket"></i>
              <span class="font-medium">Cerrar sesion</span>
            </button>
          </li>
        </ul>
      </div>
    }
    @else   {

      <div class="flex justify-center items-center h-full">

        <div class="flex flex-col">

          <span class="text-xl font-semibold mb-3">Debes iniciar iniciar sesión</span>

          <button class="bg-black text-white px-2 mb-2 py-3 rounded-lg mb-2font-semibold" (click)="this.openLoginDialog()">
            <span>
              Iniciar sesión
            </span>
          </button>

          <button class="bg-gray-200 text-black px-2 py-3 rounded-lg mb-1 font-semibold " (click)="this.openRegistroDialog()">
            <span>
              Registrarse
            </span>
          </button>

        </div>

      </div>

    }
  </ng-template>

</p-drawer>
