<div class="flex flex-col p-2 bg-gray-100 rounded-lg mt-1">

  <div class="flex flex-row gap-x-3">
    <div class="size-16 rounded-xl bg-red-300"></div>

    <div class="flex-1">
      <span class="line-clamp-2 font-semibold text-sm">Ha comentado en : Los viernes de la jungla</span>
    </div>

  </div>

  <span class="text-xs text-gray-400"> hace 2ms</span>

  <span class="text-sm"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa quam nemo distinctio eos, debitis soluta asperiores quaerat numquam eligendi!</span>

</div>
