<div class="relative mb-2 inline-block bg-gray-200 p-2 rounded-xl" >

    <div class="size-32 overflow-hidden relative">

      <app-picked-media-thumbnail class="h-full" [media]="this.media"/> 

      @if (this.spoiler) {
        <div class="absolute w-full h-full  top-0 right-0 bg-black-100 bg-opacity-20 backdrop-blur-lg rounded-md"></div>
      }

    </div>

    <div class="flex flex-row absolute top-[-10px] right-[-10px] bg-white shadow-lg rounded-md">
      <button class="size-8 icon-button"  (click)="this.onSpoiler.emit()">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye"><path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"/><circle cx="12" cy="12" r="3"/></svg>
      </button>

      <button class="size-8 icon-button" (click)="this.onDelete.emit()">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/></svg>
      </button>

    </div>

  </div>